@tailwind base;
@tailwind components;
@tailwind utilities;
.active {
  background-color: rgb(36, 131, 17);
  color: white;
  padding: 0.2rem;
  border-radius: 8px;
  font-weight: bold;
}

html,
body,
#root {
  height: 100%;
}
